<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "defaults", :media => "all" %>
  <%= javascript_include_tag "defaults" %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color: lightgrey;">

<%= yield %>

</body>
</html>
